/**
 * @name Font Size
 * @description
 *
 */

$font-size-micro:    8px;
$font-size-smallest: 10px;
$font-size-smaller:  12px;
$font-size-small:    13px;
$font-size-base:     14px;
$font-size-large:    17px;
$font-size-larger:   22px;
$font-size-largest:  27px;
$font-size-jumbo:    44px;
